.selectContainer{
    align-items: center;
    padding-left: 50px;
}


.selectOrigin{
    width: 90%;
    text-align: center;
    align-self: center;
    font-size: 22px;
    background: transparent;
    z-index: '100 !important';
}

